.recorder-controls {
	text-wrap: nowrap;  /* prevent buttons from wrapping */

	button {
		--btn-shadow-height: 0.2rem;
		position: relative;
		margin-inline: 0.33rem;
		border: none;
		border-radius: 50%;
		width: 5ch;
		height: 5ch;
		background: black;
		filter: drop-shadow(0rem var(--btn-shadow-height) 0rem black);
		cursor: pointer;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
	button:disabled:active {
		pointer-events: none;
		transform: none;
		filter: drop-shadow(0rem var(--btn-shadow-height) 0rem black);
	}
	button:disabled,
	button:disabled:active {
		transform: translateY(calc(var(--btn-shadow-height)));
		filter: none;
		img {
			filter: none;
		}
	}
	
	button:active,
	button:focus {
		border: none;
		outline: none;
	}

	button:active {
		filter: none;
		transform: translateY(var(--btn-shadow-height));
	}
}
