@keyframes pulsate {
	0%, 100% {
		background-color: darkred;
		outline-color: darkred;
	}
	50% {
		background-color: red;
		outline-color: red;
	}
}

@keyframes pulsate-text {
	0%, 100% {
		color: darkred;
	}
	50% {
		color: red;
	}
}